section#skills  {
  padding-top: 2rem;
}
.skills__wrapper{
  padding: 0 4rem;
  display: flex;
  margin: 6rem 0 0rem;
  overflow:auto;
}

.skills__heading>*{
  font-size: 3rem;
  font-weight: bold;
  color: var(--orange);
}

.skills{
    padding: 0 5% 5%;
}

.core__skills {
    display: flex;
    gap: 1rem;
}

.core__skill{
    padding: 1rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--blueCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
}

.tech__heading{
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
    color: var(--orange);
  }

.tech__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-items: center;
    gap: 2rem;
    margin-top: 3rem;
    font-size: 18px;
}

.tech__list > div{
    color: var(--black);
    width: 10rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--blueCard);
    box-shadow: 0px 10px 14px 1px rgb(251 161 40 / 42%);
}

.tech__list > div:hover{
    color: var(--orange);
    font-weight: bold;

}

@media screen and (max-width: 860px){
    section#skills  {
        padding-top: 8rem;
      }
    .skills__wrapper{
        padding: 10px;
        margin: 0;
    }

    .skills{
        padding: 0;
    }
    .core__skills {
        flex-direction: column;
    }
    .core__skill{
        padding: 5px;
    }
    .tech__heading{
        font-size: 2rem;
    }
    
    .tech__list{
        gap: 1rem;
    }

    .tech__list{
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }

    .tech__list > div{
        font-size: 15px;
        width: 6rem;
        border: 2px solid var(--blueCard);
        box-shadow: 0px 8px 8px 1px rgb(251 161 40 / 42%);
    }
  }