section{
  padding-top: 2rem;
}

.about {
  padding: 0 4rem;
  display: flex;
  margin: 6rem 0;
  overflow:auto;

}

.about__text {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0 5%;
}

.about__text > :nth-child(1) {
  color: var(--orange);
  font-size: 3rem;
  font-weight: bold;
}

.about__text > h1 {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray);
}
.about__text > span {
  color: var(--black);
  font-size: 18px;
  margin-top: 1rem;

}
.about__button {
  margin-top: 3rem;
}

@media screen and (max-width: 820px) {
  .about {
    margin: 4rem 0;
    flex-direction: column;  
    padding: 0;
  }
  .about__text{
    width: 100%;
    padding: 5%;
  }
}
