.nav__wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 10;
  justify-content: space-evenly;
  left: 0;
  padding: 1% 0 0 0 ;
  width: 100%;
}
.nav__left {
  flex: 0.35;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2rem;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
.nav__right {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.nav__list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.nav__list > ul :hover {
  color: var(--orange);
  cursor: pointer;
}
.nav__list > ul > li{
  list-style: none;
  font-size: 1.2rem;
}

.nav__button {
  margin: 10px;
}

@media screen and (max-width: 860px) {
  .nav__wrapper {
    flex-direction: column;
  }
 
  .nav__right {
    flex-direction: column;
  }
  .nav__list > ul {
    margin: 0 2rem 0 0;
  }
  .logo{
    font-size: 2rem;
  }
  .nav__list > ul > li{
    font-size: 1rem;
  }
}
