.nav__wrapper {
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav__left {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2rem;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: bold;
}
.nav__right {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.nav__list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.nav__list > ul :hover {
  color: var(--orange);
  cursor: pointer;
}
.nav__list > ul > li{
  list-style: none;
}

.nav__button {
  margin: 10px;
}

@media screen and (max-width: 480px) {
  .nav__wrapper{
    padding-top: 1rem;
  }
  
  .nav__right{
    flex: 0;
  }
  .nav__list {
    display: none;
  }

}
