header{
  padding-top: 1rem;
}
.intro {
  display: flex;
  margin-top: 6rem;
  flex-direction: column;
  padding: 0 4%;
}

.intro__name {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.intro__name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 5rem;
}

.intro__name > :nth-child(2) {
  color: var(--orange);
  text-align: center;
  /* font-weight: bold; */
  font-size: 4rem;
}
.intro__name > :nth-child(3) {
  color: var(--orange);
  font-weight: bold;
  font-size: 5rem;
}
.intro__name > :nth-child(4) {
  font-weight: 600;
  font-size: 18px;
  color: var(--gray);
  margin-bottom: 2rem;
}
.hire__space{
  display: flex;
  justify-content: space-between;
}

.intro__icons > a > * {
  transform: scale(0.4);
  transform-origin:  top right;
}
.intro__icons > *:hover {
  cursor: pointer;
}


@media screen and (max-width: 480px) {
  .intro__name > :nth-child(1) {
    font-size: 4rem;
  }
  .intro__name > :nth-child(2) {
    text-align: left;
  }
  .intro__name > :nth-child(3) {
    font-size: 4rem;
  }
  .hire__space{
    flex-direction: column;
  }
  .intro__icons > a > * {
    transform-origin:  left;
  }

}
