section#portfolio{
  padding-top: 2rem;
}
.portfolio__wrapper{
  padding: 0 4rem;
  margin: 6rem 0 0rem;
}

.portfolio__heading>span{
  font-size: 3rem;
  font-weight: bold;
  color: var(--orange);
}

.projects{
    padding: 0 5% 5%;
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;

}

.portfolio__item{
  padding: 1rem;
  background: rgba(255, 255, 255, 0.26);
  border: 1px solid var(--blueCard);
  box-shadow: var(--boxShadow);
  margin: 0 10px 10px 0;
}

.portfolio__item:hover{
  cursor: pointer;
}

.portfolio__item> img{
  width: 20rem;
}

.project__heading{
  margin: 1px 0;
}
.project__tech{
  margin: 5px 0;
}

@media screen and (max-width: 860px){
  section#portfolio{
    padding-top: 8rem;
  }
  .portfolio__wrapper{
      padding: 10px;
      margin: 0;
  }
  .projects{
    padding: 0;
  }
  .portfolio__item> img{
    width: 18rem;
  }
}

@media screen and (max-width: 480px){

 
}