.works {
  padding: 0 4rem;
  display: flex;
  margin: 3rem 0;
  width: 100%;
}

.work__left{
  width: 55%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.work__left > :nth-child(1) {
  color: var(--black);
  font-size: 3rem;
  font-weight: bold;
}
.work__left > :nth-child(2) {
  color: var(--orange);
  font-size: 3rem;
  font-weight: bold;
}
.work__left> p {
  color: var(--black);
  font-size: 18px;
  margin-top: 1rem;
}

/* right side */
.work__right {
  width: 45%;
  margin-top: 2rem;
}

.w-mainCircle {
  left: 9rem;
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  top: 2rem;
  background: white;
  z-index: 2;
}
.w-mainCircle > * {
  position: absolute;
}
.w-mainCircle > :nth-child(1) {
  top: -3rem;
  left: 6rem;
}
.w-mainCircle > :nth-child(2) {
  left: -3rem;
  top: 5rem;
}
.w-mainCircle > :nth-child(3) {
  left: 6rem;
  top: 5rem;
}
.w-mainCircle > :nth-child(4) {
  left: 15rem;
  top: 5rem;
}
.w-mainCircle > :nth-child(5) {
  left: 6rem;
  top: 13rem;
}
.w-secCircle {
  width: 6rem;
  height: 6rem;
  position: absolute;
  border-radius: 100%;
  border: 5px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  background: "none";
  box-shadow: var(--smboxShadow);
  background: white;
}

.w-secCircle > img {
  transform: scale(0.45);
}

.w-backCircle {
  position: absolute;
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
  z-index: 1;
}
.blueCircle {
  background: #1949b8;
  left: 18rem;
  top: 0rem;
}
.yellowCircle {
  background: #f5c32c;
  left: 18rem;
  top: 8rem;
}

@media screen and (max-width: 780px) {
  .works {
    margin: 0;
    flex-direction: column;  
    padding: 0;
  }
  .work__left, .work__right{
    width: 100%;
  }
  
  .w-mainCircle{
    left: 3rem;
    width: 14rem;
    height: 14rem;
  }
  .w-mainCircle > :nth-child(1) {
    top: -2rem;
    left: 5rem;
  }
  .w-mainCircle > :nth-child(2) {
    left: -3rem;
    top: 5rem;
  }
  .w-mainCircle > :nth-child(3) {
    left: 5rem;
    top: 5rem;
  }
  .w-mainCircle > :nth-child(4) {
    left: 13rem;
    top: 5rem;
  }
  .w-mainCircle > :nth-child(5) {
    left: 5rem;
    top: 12rem;
  }

}
